<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" name="name" placeholder="full name">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign Up">
</form>
